/* WP Specific */
.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 300px) {
  #wppm .units-tile address {
    font-size: 11px !important;
  }
  #wppm .units-tile .feat-image {
    width: 100%;
    float: none;
    padding: 10px;
  }
  #wppm .units-tile .feat-image img {
    width: 100%;
  }
  #wppm .units-tile .units-details {
    width: 100%;
    float: none;
    margin-left: 0px;
    padding: 0px 10px;
  }
  #wppm .units-tile .units-details .avail {
    font-size: 20px !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #wppm .units-tile address {
    font-size: 14px !important;
  }
  #wppm .units-tile .feat-image {
    width: 220px;
    float: left;
    padding: 10px;
  }
  #wppm .units-tile .units-details {
    margin-left: 210px;
    width: auto;
    margin-top: 10px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #wppm .units-tile .feat-image {
    width: 250px;
    float: left;
    padding: 10px;
  }
  #wppm .units-tile .units-details {
    margin-left: 242px;
    width: auto;
    margin-top: 10px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #wppm .units-tile .feat-image {
    width: 300px;
    float: left;
    padding: 10px;
  }
  #wppm .units-tile .units-details {
    margin-left: 292px;
    width: auto;
    margin-top: 10px;
  }
}
/* Large Devices, Wide Screens */
/* Admin Styles */
#street-view {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
.tab-wrap {
  background: #EEE;
  padding-left: 141px;
}
.rcol {
  width: 100%;
  float: right;
  background: #FFFFFF;
}
.rcol table {
  margin: 10px;
}
.lcol ul {
  padding: 0px;
  margin: 0px;
  width: 141px;
  float: left;
  background: #EEE;
  margin-left: -141px;
}
.lcol ul li {
  margin-bottom: 0px;
  padding: 5px 0px 5px 10px;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.lcol ul li.active {
  background: #FFFFFF;
  border-right: 1px solid #FFF;
}
.lcol ul li a {
  text-decoration: none;
}
.lcol ul li a i {
  margin-right: 3px;
}
.clear {
  clear: both;
}
