#shareModal {

	.modal-dialog {
		max-width: 600px;
	}

	.modal-footer {
		height: 50px;
	}

	.share-property-modal {
		margin-top:40px;

		img {
			width: 100%;
			height: auto;
		}

		address {
			font-size: 18px;
			font-weight:bold;
		}
	}

	.send-btn {
		display:block;
		margin: 0 auto;
		margin-top:20px;
	}	
}